name: Build and Push Docker image

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - backend

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Verify JAR contents
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          unzip -l target/*.jar | grep 'mail/.*\.html' || echo "No HTML files found in mail/ directory"

      - name: Create .env.uat file
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: echo "${{ secrets.ENV_CONTENT }}" > .env.uat

      - name: Login to Docker Hub
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          docker build -t khang1z2t/pacific-be:latest .
          docker push khang1z2t/pacific-be:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          script: |
            docker stop pacific-be || true
            docker rm pacific-be || true
            docker rmi khang1z2t/pacific-be:latest || true
            docker run -d --name pacific-be --network pacific-network -p 8080:8080 khang1z2t/pacific-be:latest
            docker image prune -f
            docker logs pacific-be